body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* #region header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
     align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
}

span {
    color: #2e2f42;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.head-text {
    color: #2E2F42;
    font-weight: 500;
 font-size: 16px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
  gap: 40px;
}
.studio {
   position: relative;
   padding: 24px 0;
   display: block;
   color: #404bbf;
   transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.studio::after {
    content: "";
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    display: flex;
    position: absolute;
    bottom: -1px;

}


.a-studio {
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    color: #404bbf;
}

a:hover, a:focus {
    color: #404bbf;
}

.address {
    margin-left: auto;
    font-style: normal;
} 

.emeil {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    align-items: center;
    gap: 40px; 
}
 
/* #endregion header */

/* #region section1 */

.main-section { 
    background-color: #2E2F42;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover;

    
    
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
                                       
}

.main-head {
    font-weight: 700;
    font-size: 56px;
  letter-spacing: 0.02em;
 color: #FFFFFF;
    line-height: 1.07; 
 margin-bottom: 48px;
 max-width: 496px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
  font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
     display: block;
    min-width: 169px;
  height: 56px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover, button:focus {
    background-color: #404BBF;
} 

/* #endregion section1 */

/* #region section2 */

.info-section {
    padding: 120px 0;
    align-items: baseline;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.step {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
 color: #2E2F42;
    width: 264px;
 margin-bottom: 8px;
}

.step-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-info {
    display: flex;
    align-items: center;
gap: 24px;
}

.li-info-section {
    width: calc((100% - 72px) / 4);
}
.rectangle{
position: relative;
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background-color: #F4F4FD;
margin-bottom: 8px;
gap: 24px;

display: flex;
align-items: center; 
justify-content: center;
}
.icon-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* #endregion section2 */

/* #region section3 */

.our-team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px; 
}
 
.our-team-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.papa-container {
    padding: 32px 0;
}

.our-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
text-align: center;
    margin-bottom: 8px;
} 
.our-team-description {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center; 
}
.icon-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icon-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 8px;

   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   width: 40px;
   height: 40px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-flex :hover {
 background-color: #404bbf;
}
.icon-flex :focus {
    background-color: #404bbf;
}
.icon {
  fill: #F4F4FD;
     display: flex;
     justify-content: center;
     gap: 24px;

     
  
   
}
.icon-link {
    display: block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
   display: flex;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-block {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* #endregion section3 */

/* #region section4 */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio-title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
 color: #2E2F42;
    text-transform: capitalize;
    text-align: center;
    margin-top: 120px;
margin-bottom: 72px;
}

.our-portfolio { 
    font-weight: 500;
     font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
     margin-bottom: 8px;
}

.our-portfolio-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     color: #434455;
}

.our-portfolio-block {
    display: flex;
    align-items: center; 
    border-radius: 0 0 4px 4px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-top: 120px; 
}
.our-portfolio-block :hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
transform: translateY(0%);
}

.li-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   color: #fff;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb:hover .portfolio-hover-text {
  opacity: 1;
}
.li-portfolio :hover .portfolio-hover-text{
    transform: translateY(0%);
}
.li-border {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}

/* #endregion section4 */

/* #region footer */




.footer {
    background-color: #2E2F42;
    padding: 100px 0;
     max-height: 312px;
     position: relative;
     
     align-items: baseline;
}
.footer-block {
    display: flex;
    align-items: baseline;
}
.footer-logo-box {
    margin-right: 120px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
 font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
 display: inline-block; 
    margin-bottom: 16px;
}

.span-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
}

 .icon-flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 8px;
    position: absolute;
    left: 540px;
    top: 140px;
    gap: 16px;
    
   
    
   
    
 }
 .icon-description-footer {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
color: #FFFFFF;
position: absolute;
left: 540px;
top: 100px;
line-height: 1.5;
margin-bottom: 16px; 

 }

.icon-footer {
  fill: #F4F4FD;
     
  
   
}
.icon-link-footer {
    display: block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
   display: flex; 
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover, .icon-link-footer:focus {
    background-color: #31d0aa;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-container {
    display: flex; 
    align-items: baseline;
}

.form-subscripe {
    display: flex;
    gap: 24px;
}
.subscribe {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    display: flex; 
    align-items: baseline;
}


.subscribe-div {
    display: block;
    margin-left: auto;
    margin-top: auto;
    
}

.input-subscribe {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    display: block;
    padding: 16px;
    color: #ffffff;

        font-weight: 400;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-subscribe:focus {
    border-color: #31D0AA;
    outline: none;
}

.input-subscribe::placeholder {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
}

.button-subscribe {
        font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
  font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
     display: block;
    min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-subscribe:hover, .button-subscribe:focus {
background-color: #31D0AA;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon-send {
    fill: #ffffff;
    margin-left: 16px;
    width: 24px;
    height: 20px;
 

}
/* #endregion footer */


/* #region backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
     cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
  
.icon-close-black {  
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}


.close-popup:hover .icon-close-black {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: #404BBF;
    border: none;
}
.close-popup:hover {
border: none; 
}
.close-popup:focus {
border: none;
}

.close-popup:focus .icon-close-black {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404BBF;
    border: none;
}

.form-p {
   
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
padding-bottom: 16px;
 text-align: center;
 margin-bottom: 16px;
}

.form-field-wrapper {
    margin-bottom: 8px;
}
.form-field-wrapper-a {
    margin-bottom: 16px;
}
.form-field-wrapper-b {
    margin-bottom: 24px;
}

.label-field { 
    display: block;
font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.field-wrapper {
    position: relative;
    margin-bottom: 24px;
}

.text-field {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 40px;
background-color: transparent;
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: #2E2F42;
outline: transparent;
}

.field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
     transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}

.text-field:focus {
    border-color: #4D5AE5;
    outline: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus+.field-icon {
    fill: #4D5AE5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
padding: 8px 16px;
resize: none;
background-color: transparent;
outline: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
outline: transparent;
 
}

.comment-textarea::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.comment-textarea:focus {
border-color: #4D5AE5;
}

.policy-label {
    font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
}

.privacy-policy {
color: #4D5AE5;
text-decoration: underline;
}

.input-check:checked + .policy-label > .check-empty {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.input-check:focus + .policy-label > .check-empty {
    border-color: #404BBF;
}

.policy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-empty {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
     cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
/* #endregion backdrop */